* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background: #000;
  color: rgba(245, 241, 241, 0.87);
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1rem;
}